.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.castItem {
  width: 150px;
  text-align: center;
}

.castItem img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.noImage {
  width: 100%;
  height: 225px;
  background-color: #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}
